<div>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.00001 1.48438C8.46583 1.48437 8.92708 1.57612 9.35744 1.75438C9.7878 1.93264 10.1788 2.19392 10.5082 2.52331C10.8376 2.85269 11.0989 3.24372 11.2771 3.67408C11.4554 4.10443 11.5471 4.56569 11.5471 5.03151V5.65055H4.45288V5.03151C4.45288 4.09075 4.8266 3.18852 5.49181 2.52331C6.15703 1.85809 7.05925 1.48438 8.00001 1.48438Z" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M13.3981 14.5155H2.58953C2.29893 14.5155 2.02023 14.4001 1.81475 14.1946C1.60926 13.9891 1.49382 13.7104 1.49382 13.4198C1.49075 13.3641 1.49075 13.3083 1.49382 13.2527L2.42239 7.15508C2.48545 6.73139 2.70049 6.34511 3.0274 6.06832C3.35432 5.79153 3.77076 5.64312 4.19905 5.6508H11.7885C12.2168 5.64312 12.6333 5.79153 12.9602 6.06832C13.2871 6.34511 13.5021 6.73139 13.5652 7.15508L14.5062 13.2527C14.5092 13.3083 14.5092 13.3641 14.5062 13.4198C14.5062 13.5648 14.4774 13.7083 14.4216 13.842C14.3657 13.9758 14.2839 14.0971 14.1809 14.199C14.0778 14.3009 13.9555 14.3814 13.8212 14.4357C13.6868 14.49 13.543 14.5172 13.3981 14.5155Z" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M3.63239 8H12.3524" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M10.1686 10.179V8" stroke="#F79F11" stroke-miterlimit="10"/>
        </svg>
        

</div>